<section>
  <button tw-button-flat colorStyle="primary">Primary</button>
  <button tw-button-flat colorStyle="secondary">Secondary</button>
  <button tw-button-flat colorStyle="dark">Dark</button>
  <button tw-button-flat colorStyle="error">Error</button>
  <button tw-button-flat colorStyle="warning">Warning</button>
</section>

<section>
  <button tw-button-round colorStyle="primary">Primary</button>
  <button tw-button-round colorStyle="secondary">Secondary</button>
  <button tw-button-round colorStyle="dark">Dark</button>
  <button tw-button-round colorStyle="error">Error</button>
  <button tw-button-round colorStyle="warning">Warning</button>
</section>
<section>
  <button tw-button-raised colorStyle="primary">Primary</button>
  <button tw-button-raised colorStyle="secondary">Secondary</button>
  <button tw-button-raised colorStyle="dark">Dark</button>
  <button tw-button-raised colorStyle="error">Error</button>
  <button tw-button-raised colorStyle="warning">Warning</button>
</section>
